---
import AboutExperience from "../ui/about-experience.astro";
import PageHeading from "../ui/page-heading.astro";
import { Icon } from "astro-icon/components";
import SkillsSection from "../home/skills-section.astro"; // Reusing SkillsSection component for consistency
---

<section
  class="relative z-20 max-w-2xl mx-auto my-8 sm:my-12 px-4 sm:px-7 lg:px-0"
>
  <PageHeading title='About <span class="text-blue-500">Me</span>' />

  <!-- Profile image - hidden on mobile, visible on tablet and above -->
  <div
    class="hidden sm:block relative z-30 w-[250px] h-[250px] sm:w-[300px] sm:h-[300px] md:w-[333px] md:h-[333px] my-6 sm:my-10 rounded-full overflow-hidden shadow-md top-0 left-1/2 transform -translate-x-1/2"
  >
    <img
      src="/assets/images/me.jpeg"
      alt="Venkata Sai Chaitanya Tatikonda"
      class="object-cover w-full h-full"
    />
  </div>

  <p
    class="text-sm sm:text-base md:text-lg leading-relaxed text-black dark:text-white mt-4 sm:mt-0"
  >
    I am <span class="text-blue-400 font-bold"
      >Venkata Sai Chaitanya Tatikonda</span
    >, a graduate in Information Technology from Florida State University, with
    a 4.0 GPA. <br /><br />

    I’m a Software Engineer with a passion for both <span
      class="text-blue-400 font-semibold">Web Development</span
    >
    and <span class="text-blue-400 font-semibold">DevOps</span>. I enjoy
    building end-to-end solutions that are not only functional and scalable, but
    also clean and user-friendly. From crafting front-end interfaces to
    automating infrastructure, I like being involved in the whole process. <br
    /><br />

    I’ve had the oppotunity to work with different types of teams startups,
    mid-sized companies, and larger organizations, which has taught me how to
    adapt and grow. Working as a Teaching Assistant also helped me become a
    better communicator and team player.<br /><br />

    When I'm not coding, you’ll probably find me exploring Photography, it’s a
    creative outlet that also influences how I think about design.
  </p>
</section>
