---
import { Icon } from "astro-icon/components";
import Logo from "./logo.astro";
---

<section
  class="bg-white border-t dark:bg-neutral-950 border-neutral-200 dark:border-neutral-800 text-gray-700"
>
  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 flex flex-col sm:flex-row items-center justify-center text-sm text-neutral-700 dark:text-neutral-100 space-y-4 sm:space-y-0 sm:space-x-4"
  >
    <div class="flex items-center space-x-4">
      <Logo />
      <span class="hidden sm:inline text-neutral-300 dark:text-neutral-600"
        >|</span
      >
      <div class="sm:hidden w-px h-4 bg-neutral-300 dark:bg-neutral-600"></div>
      <p>© {new Date().getFullYear()}</p>
    </div>
  </div>
</section>
